body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.563),rgba(52, 22, 123, 0.878));
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}
:root{
    --imgh : 750px;
    --imgw : 1100px;
}
/* div{
    border: 1px solid white;
} */
.carousel{
    padding: 25px 100px 25px;
}
.carousel-indicators{
    position: relative;
   
}

.certificatesDiv {
    background-color: rgba(0, 0, 0, 0.21);
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh; 
}
.carousel_col{
    margin-top: calc( (100vh - var(--imgh) )/ 2.5);
    
}


img {
    /*image width and hight is 900 * 600 */
    image-resolution: from-image 500dpi;
    margin: auto;
    max-height: 750px;
    max-width: 1100px;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }
    .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 425px) {
    .carousel{
        padding: 20px 40px 50px;
    }
    .carousel_col{
        margin-top: 5%;
    }
    .certificatesDiv {
        height: fit-content;
    }
}
/* .certificate_title{

} */

.viewButton {
    padding: 0;
    border: none;
    background: none;
}
.grid-icon {
    width: 38px;
    filter: invert(100%);
}