body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.563),rgba(52, 22, 123, 0.878));
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.carousel{
    padding: 25px 100px 25px;
   
}
.carousel-indicators{
   
    position: relative;
    
}

.certificatesDiv {
    background-color: rgba(0, 0, 0, 0.21);
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh; 
}

img {
    /*image width and hight is 900 * 600 */
    margin: auto;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }
    .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 24px;
    height: 24px;
}
