html,body{
    /* background-image: linear-gradient(rgba(0, 25,215), rgba(130,15,180)); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.563),rgba(52, 22, 123, 0.878));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    height: 100%;
    margin-left: 0px !important;
    margin-top: 0px !important;
    color: whitesmoke;
}

div {
    border: 1px solid white;
}

.left_box {
    background-color: rgba(4, 4, 4, 0.451) !important;
    /* min-height:790px;
    max-width: 400px; */
    height: 100vh;
    padding-top: 150px;
}

.image {
    /* background-color: aliceblue !important; */
    display: flex;
    justify-content: center;
}

.img_tag {
    min-width: 200px;
    max-height: 300px;
}

.name {
    display: flex;
    justify-content: center;
    
}

#socialmedia {
    display: flex;
    justify-content: space-around;
}

.fa {
   font-size: 35px;
}

.resume_content{
    padding: 0 0 10px 20px;
    margin-top: -2px;
    border-left: 2px solid #c28ef9;
    position: relative;
}

.resume_content::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #121212;
}

@media screen and (max-width: 425px) {
    .img_tag {
        min-width: 100px;
        max-height: 150px;
    }
    .left_box {
        position:relative;
    }
    .fa {
       font-size: 25px;
    }

    .resume_content{
        border-left: 2px solid #c28ef9;
        position: relative;
    }
    
}